@font-face {
    font-family: Rotundus;
    src: url('/static/fonts/rotundus_rounded_toz_bold.eot');
}

body{
  color: white;
  background-color: black;
}
.jumbotron{
  background-color: black;
}

legend{
  color: white;
}


.jumbotron
{
  padding: 15px;
}

.jumbotron.active
{
  border: 7px solid RGBA(167, 4, 43, 1.0);
}

.param_section
{
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

input.number_input
{
  /*font-family: Rotundus;*/
  color: white;
  background-color: black;
  border-width: 4px;
  border-color: RGBA(86, 86, 85, 1.0);
  border-radius: 12px;
}
.label p
{
    font-size: 24px;
}

.jumbotron.toggle h2
{
  text-align: center;
}

.movie_thumb h2
{
  font-size: 22px;
}

textarea:focus
{
  outline: none;
}
